<div class="col-md-6 col-md-offset-3" align="center">

	<div style="margin-bottom: 20px; margin-top: 100px;">
		<h1>
			<b>
				<img src="../assets/colosseo.png" style="width: 60px; height: 60px;">
				Neptis Planner
			</b>
		</h1>
	</div>

	<div style="width: 90%; margin-bottom: 30px;">
   		<h4><b>Please type your account information to log in.</b></h4>
   	</div>

    <form name="form" #f="ngForm" role="form">

    	<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email" style="float:left">E-mail</label>
            <input [(ngModel)]="email" name="email" type="text" id="email" class="form-control" required />
        </div>

    	<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password" style="float:left">Password</label>
            <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control" required />
        </div>

		<div class="form-actions" style="margin-top: 50px;">
            <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary" (click)="click()" >Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>

       	<div class="form-actions">
            <a class="btn btn-link" [routerLink]="['/register']">Crea un nuovo account</a>
        </div>

    </form>

</div>
