<div align="center">
    <h1>Aggiunta di un nuovo museo</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <label for="name">Nome museo</label>
        <form #museumForm="ngForm">
            <div class="input-group">
                <input [(ngModel)]="museumName" name="museumName" type="text" class="form-control" [readonly]="museumNameDisabled" placeholder="Nome del museo"
                    required/>
                <span class="input-group-btn">
                    <button class="btn btn-success" (click)="createMuseum()" [disabled]="museumForm.invalid">Crea museo</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row" [@visibility]="newRoomButton" style="margin-top:20px;">
    <div align="center">
        <button class="btn btn-default" (click)="newRoomForm=!newRoomForm" *ngIf="newRoomButton" align="center">
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Aggiungi sale</button>
    </div>
</div>

<div class="row" *ngIf="newRoomForm" style="margin-top:20px;">
    <div class="col-md-12">
        <label for="name">Nome sala</label>
        <div class="input-group">
            <input [(ngModel)]="roomName" name="roomName" type="text" class="form-control" placeholder="Nome della sala" required />
            <span class="input-group-addon" *ngIf="startingRoomCheckbox">
                <input type="checkbox" aria-label="..." [checked]="startingRoom" (change)="startingRoom = !startingRoom"> Sala di partenza
            </span>
            <span class="input-group-btn">
                <button class="btn btn-success" (click)="addRoom()">Crea sala</button>
            </span>
        </div>
    </div>
</div>

<accordion closeOthers="true" style="margin-top:20px;">
    <accordion-group *ngFor="let area of museum.rooms" panelClass="panel-primary">
        <div accordion-heading class="clearfix panel-primary">
            {{area.name}}&nbsp;
            <span class="badge badge-secondary" *ngIf="area.starting">Sala di partenza</span>
            <div class="float-right pull-right">
                <button class="btn btn-warning btn-xs" (click)="showNewAttractionForm(area)">
                    <span class="glyphicon glyphicon-edit"></span> Modifica sala
                </button>
                <button class="btn btn-danger btn-xs" (click)="deleteRoom(area)">
                    <span class="glyphicon glyphicon-trash"></span> Elimina sala
                </button>
            </div>
        </div>
        <accordion>
            <accordion-group isOpen="true" isDisabled="true">
                <div accordion-heading class="clearfix">
                    Attrazioni
                    <button class="btn btn-default btn-xs float-right pull-right" (click)="modalOpen(area)">
                        <span class="glyphicon glyphicon-plus-sign"></span> Aggiungi attrazione
                    </button>
                </div>
                <table class="table" *ngIf="area.attraction_ms.length !=0; else attractionsElse">
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                    </tr>
                    <tr *ngFor="let attraction of area.attraction_ms">
                        <td>{{attraction.name}}</td>
                        <td>{{attraction.category}}</td>
                        <td align="right">
                            <button class="btn btn-xs btn-warning" (click)="showEditAttractionForm(attraction)">
                                <span class="glyphicon glyphicon-edit"></span>
                                Modifica
                            </button>
                            <button class="btn btn-xs btn-danger" (click)="deleteAttraction(area,attraction)">
                                <span class="glyphicon glyphicon-trash"></span>
                                Elimina
                            </button>
                        </td>
                    </tr>
                </table>
                <ng-template #attractionsElse>
                    <p align="center">Nessuna attrazione in {{area.name}}</p>
                </ng-template>
            </accordion-group>
            <accordion-group isOpen="true" isDisabled="true">
                <div accordion-heading class="clearfix">
                    Sale adiacenti
                    <button class="btn btn-default btn-xs float-right pull-right" (click)="newAdjacencyForm=!newAdjacencyForm">
                        <span class="glyphicon glyphicon-plus-sign"></span> Aggiungi sala
                    </button>
                </div>
                <div *ngIf="area.adjacent.length !=0; else elseBlock">
                    <button class="btn btn-danger" style="margin-right:5px;" *ngFor="let adj of area.adjacent" (click)="removeAdjacency(area, adj)">
                        <span>{{adj.name}}</span>
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                </div>
                <ng-template #elseBlock>
                    <p align="center">Nessuna sala adiacente a {{area.name}}</p>
                </ng-template>
                <div style="width: 300px; margin-bottom: 20px;" align="center" *ngIf="newAdjacencyForm">
                    <ng-select [allowClear]="true" [items]="rms" (selected)="selected($event)" (removed)="removed($event)" placeholder="Nessuna stanza selezionata">
                    </ng-select>
                    <button class="btn btn-success" (click)="addAdjacency(area)">Aggiungi</button>
                </div>
            </accordion-group>
        </accordion>
    </accordion-group>
</accordion>