<div class="panel panel-primary" style="margin-top:30px;">
  <div class="panel-heading">
    <h3 class="panel-title">Musei</h3>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="input-group" style="margin:20px">
      <span class="input-group-addon info">
        <span class="glyphicon glyphicon-filter"></span>
        Filtra museo
      </span>
      <input type="text" name="search" class="form-control" [(ngModel)]="searchString" />
    </div>
  </div>
  <!-- <div class="form-group" style="margin:20px">
    <label for="search" style="float:left">Filtra museo</label>
    <input type="text" name="search" class="form-control" [(ngModel)]="searchString" />
  </div> -->
  <div align="center" >
    <button class="btn btn-sm btn-primary" [routerLink]="['new']">
      <span class="glyphicon glyphicon-plus"></span> Aggiungi nuovo museo</button>
  </div>
  <div style="margin:20px;overflow:auto;">
    <table class="table table-hover" *ngIf="museums.length != 0; else museumElse">
      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let museum of museums" [ngClass]="{'info': museum == selectedAttraction, 'default': museum != selectedAttraction}">
          <td>{{ museum['name'] }}
            <td>
              <td align="right">
                <button class="btn btn-xs btn-warning" [routerLink]="[museum['id']]">
                  <span class="glyphicon glyphicon-edit"></span>
                  Modifica
                </button>
                <button class="btn btn-xs btn-danger" (click)="delete(museum)">
                  <span class="glyphicon glyphicon-trash"></span>
                  Elimina
                </button>
              </td>
        </tr>
      </tbody>
    </table>
    <ng-template #museumElse>
      <p align="center">Nessun museo inserito</p>
    </ng-template>
  </div>
</div>