<div align="center">
    <h1>Aggiunta di una nuova attrazione</h1>
</div>

<form #form="ngForm">
    <div class="form-group">
        <label for="name" style="float:left">Nome</label>
        <input [(ngModel)]="attraction.name" name="name" type="text" class="form-control" required />
    </div>
    <p align="center"> Seleziona il sito dell'attrazione sulla mappa e aggiustane
        i confini tenendo premuto sulla circonferenza e trascinando il mouse </p>

    <agm-map  [latitude]="lat"
        [longitude]="lng"
        (mapClick) = "mapclick($event)"
        style="height: 400px;">
        <agm-circle
        [latitude]="circ.lat" [longitude]="circ.lng" [radius]="circ.radius" [editable]="true"
        (radiusChange)="rChange(circ, $event)"></agm-circle>
    </agm-map>
    <div class="form-group" style="margin-top:20px">
        <label for="description" style="float:left">Descrizione (opzionale)</label>
        <textarea placeholder="Aggiungi una descrizione dell'attrazione" [(ngModel)]="attraction.description"
        name="description" class="form-control">
        </textarea>
    </div>
    <div align="center" style="margin-top:20px;">
        <button class="btn btn-success" (click)="finish()">Aggiungi</button>
        <button class="btn btn-danger" [routerLink]="['/home','attractions']">Annulla</button>
    </div>
</form>
