<div class="panel panel-primary" style="margin-top:30px;">
  <div class="panel-heading">
    <h3 class="panel-title">Attrazioni all'aperto</h3>
  </div>
  <div class="form-group" style="margin:20px">
    <label for="search" style="float:left">Cerca attrazione</label>
    <input type="text" name="search" class="form-control" [(ngModel)]="searchString" />
  </div>
  <div *ngIf="attractions.length > 0" style="margin:20px;overflow:auto;">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attraction of attractions | myfilter: searchString" (click)="select(attraction)" [ngClass]="{'info': attraction == selectedAttraction, 'default': attraction != selectedAttraction}">
          <td>{{ attraction['name'] }}
            <td>
              <td align="right">
                <button class="btn btn-xs btn-warning" [routerLink]="[attraction['id']]">
                  <span class="glyphicon glyphicon-edit"></span>
                  Modifica
                </button>
                <button class="btn btn-xs btn-danger" (click)="delete(attraction)">
                  <span class="glyphicon glyphicon-trash"></span>
                  Elimina
                </button>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="attractions.length == 0" class="panel-body">
    <p align="center">Nessuna attrazione disponibile</p>
    <div *ngIf="loading" class="loader">
    </div>
  </div>
</div>

<div align="center">
  <button class="btn btn-primary" [routerLink]="['new']">Aggiungi nuova attrazione</button>
</div>