<div align="center">
    <h1>Modifica dell'attrazione</h1>
</div>

<form #form="ngForm">
    <div class="form-group">
        <label for="name">Nome</label>
        <div class="input-group">
            <input [(ngModel)]="attraction.name" name="name" type="text" class="form-control" [readonly]="readonly" required>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" (click)="enableEdit()">
                    <span class="glyphicon glyphicon-edit"></span>Modifica
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="description" style="float:left">Descrizione</label>
        <textarea [(ngModel)]="attraction.description" name="description" class="form-control">
        </textarea>
    </div>
    <div class="form-group">
        <label for="picture">Immagine</label>
        <input type="file" class="form-control-file" name="picture" (change)="getFile($event)">
    </div>

    <agm-map [latitude]="attraction.latitude" [longitude]="attraction.longitude" [zoom]="18" (mapClick)="mapclick($event)" style="height: 400px;">
        <agm-circle [latitude]="attraction.latitude" [longitude]="attraction.longitude" [radius]="attraction.radius" [editable]="true"
            [draggable]="true" (radiusChange)="rChange(attraction, $event)" (centerChange)="drag(attraction,$event)"></agm-circle>
    </agm-map>
    <div align="center" style="margin-top:20px;">
        <button class="btn btn-success" (click)="finish()">Modifica</button>
        <button class="btn btn-danger" [routerLink]="['/home','attractions']">Annulla</button>
    </div>
</form>